body {
    background-color: #ebebeb;
}

/* Overridden Foundation Styles */
.row {
    background-color: #ffffff;
}

.header-container {
    width: 1000px;
    height: 450px;
    background-image: url("../img/header_bg.png");
}

.special-font {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
}

.underline {
    border-bottom: solid 2px #000000;
}

/* Custom Styles */
.aturdoku-nav-head {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
    width: 100%;
    padding: 0 0 0 20px;
}

.aturdoku-nav-subhead {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    font-size: 1.7em;
    border-left: solid 13px #FFFB00;
}

.aturdoku-button {
    margin: 0;
}

.aturdoku-bg-red {
    background-color: red;
    color: white;
}

.aturdoku-bg-green {
    background-color: green;
    color: white;
}

.aturdoku-bg-orange {
    background-color: #ffd013;
    color: white;
}

.aturdoku-bg-black {
    background-color: black;
    color: white;
}

.aturdoku-news-box h1 {
    line-height: none;
    font-size: 2em;
}

/* Miscellaneous */
.separator {
    background-color: #ebebeb;
    clear: both;
    height: 30px;
    display: block;
    width: 100%;
    border-top: solid 4px #cccccc;
    border-bottom: solid 4px #cccccc;
}