body {
    background-color: #ebebeb;
}

/* Overridden Foundation Styles */
.row {
    background-color: #ffffff;
}

.joyride-content-wrapper{
    background-color: #ebebeb;
    color: #000000;
    
}

.joyride-content-wrapper h4{
    color: #000000;
}

.joyride-tip-guide .joyride-nub.top, .joyride-tip-guide .joyride-nub.bottom{
    border-color: #ebebeb;
}

.alert-box{
    margin-bottom: 0;
    border-style: none;
}

.header-container {
    width: 1000px;
    height: 450px;
    background-image: url("../img/header_bg.png");
}

.special-font {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
}

.underline {
    border-bottom: solid 2px #000000;
}

/* Custom Styles */
.aturdoku-nav-head {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
    width: 100%;
    padding: 0 0 0 20px;
}

.aturdoku-nav-subhead {
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Arial;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    font-size: 1.7em;
    border-left: solid 13px #FFFB00;
}

.aturdoku-button {
    margin: 0;
}

.purple-button{
    background-color: #9e1be0;
    border-color: #9e1be0;
}

a.purple-button:hover{
    background-color: #600091;
}

.orange-button{
    background-color: #ffd013;
    border-color: #ffd013;
}

a.orange-button:hover{
    background-color: #e3ba16;
}

.blue-button{
    background-color: #13A7C7;
    border-color: #13A7C7;
}

a.blue-button:hover{
    background-color: #0b8099;
}

.aturdoku-bg-red {
    background-color: red;
    color: white;
}

.aturdoku-bg-green {
    background-color: green;
    color: white;
}

.aturdoku-bg-orange {
    background-color: #ffd013;
    color: white;
}

.aturdoku-bg-black {
    background-color: black;
    color: white;
}

.aturdoku-bg-purple{
    background-color: #9e1be0;
    color: white;
}

.aturdoku-bg-blue{
    background-color: #13A7C7;
    color: white;
}

.aturdoku-news-box h1 {
    line-height: none;
    font-size: 2em;
}

/* Miscellaneous */
.separator {
    background-color: #ebebeb;
    clear: both;
    height: 30px;
    display: block;
    width: 100%;
    border-top: solid 4px #cccccc;
    border-bottom: solid 4px #cccccc;
}

/* Overridden Foundation Styles */
.breadcrumbs {
    border: none;
    background-color: #ebebeb;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.breadcrumbs li a {
    color: #000000;
}

ul.aturdoku-top-nav {
    margin: 0; padding: 0;
}

ul.aturdoku-top-nav li {
    list-style-type: none;
    float: left;
}

ul.aturdoku-top-nav li a {
    text-align: center;
    padding: 0px 20px 0 20px;
    margin: 0 2px 0 0;
    color: #000000;
    height: 115px;
    line-height: 115px;
    display: block;
    font-family: 'Yanone Kaffeesatz', Arial;
    font-size: 1.6em;
    border-left: solid 1px #ebebeb;
    border-right: solid 1px #ebebeb;
    border-bottom: solid 4px #ebebeb;
}

ul.aturdoku-top-nav li a.red {
    border-bottom: solid 4px #ff0000;
}

ul.aturdoku-top-nav li a.purple {
    border-bottom: solid 4px #9e1be0;
}

ul.aturdoku-top-nav li a.green {
    border-bottom: solid 4px green;
}

ul.aturdoku-top-nav li a.orange {
    border-bottom: solid 4px #ffd013;
}

ul.aturdoku-top-nav li a:hover {
    color: grey;
}

/* Overridden jQuery UI Styles */
.ui-datepicker {
    z-index: 1000 !important;
}